* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    /* background: rgb(248, 197, 101); */
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-nestor{
    width: auto;
}
.logo-nestor img{
    width: 10rem;
}
nav {
    width: 100%;
    /* background:#5c5c5c; */
    /* background:#7c6853; */
    background:#003f5c;
    /* border-radius: 30px; */
    padding: 1rem;
    /* margin: 0.2rem; */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    /* box-shadow: 0 5px 20px rgba(255, 255, 255, 0.4); */
    display: flex;
}

nav ul li {
    display: inline-block;
    list-style: none;
    font-size: 1.3rem;
    padding: 0 10px;
    /* margin: 0 20px; */
    /* padding: 1rem; */
    margin-top: 0.9rem;
    cursor: pointer;
    position: relative;

}
nav ul li a{
    text-decoration: none;
    color: black;
    /* justify-content: center; */
}

nav ul li:after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(2, 2, 2);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
nav ul li:hover::after {
    width: 100%;
}
.toggle{
    width:100%;
    padding: 10px 20px;
    /* background: rgb(248, 197, 101); */
    background-color: black;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;
}
/* presetacion caratula */
.presentation{
    width: 100%;
    height: auto;
    display: flex;
}

.nombre{
    position: relative;
    width: 30%;
    height: auto;
    color: wheat;
    
}
.nombre_cajita{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 110%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}
.presentation-foto{
    width: 70%;
}
.presentation-foto img{
    width: 100%;
}
.ejemplos{
    width: 100%;
    height: 500px;
    background-color: wheat;
}
@media (max-width:876px){
    .logo-nestor{
        width: 100%;
        
    }
   /*  .logo-nestor img{
        width: auto;
    } */
    nav{
        width: 100%;
        /* background: #fff; */
        border-radius: 0px;
        padding: 0;
        margin: 0;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
        display: block;
        text-align: center;
    }
    .toggle{
        display: block;
        transition: 0.5s;
    }
    ul{
        width: 100%;
        display: none;
        background-color: black;
        border-bottom: solid #fff;
    }
    ul li{
        width: 100%;
        text-align: center;
        display: block;
        margin: 0px;
    }
    nav ul li a{
        color: #7c6853;
        padding: 2rem;
    }
    .mobile{
        display: block;
    }


    
}
@media (max-width:876px){

}