*{
margin: 0;
padding: 0;
}

.CardSpace {
    border-radius: 2rem;
    width: 40rem;
    height: 56rem;
    margin: 5rem auto;
    background-color: rgb(24, 21, 21);
    color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.card__info{
    width: 80%;
    height: auto;
    text-align: center;
    background-color: rgb(48, 48, 48);
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
}
.card__info h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
}
.Follow {
    width: 80%;
    height: auto;
    text-align: center;
    background: gray;
    border-radius: 1rem;
    font-size: 2rem;
    padding: 1rem;
}
.Follow a {
    text-decoration: none;
    color: aliceblue;
}