*{
margin: 0;
padding: 0;
}
html{
    background: black;
    /* background-color: #ffff72; */
    /* background-color: #004173; */
    /* background-color: #0cb7f2; */
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(24, 21, 21);
    display: flex;
}
.CardSpace {
    
    width: 23rem;
    height: auto;
    margin: auto;
    box-shadow: 0 5px 20px rgb(99, 99, 99);
    border-radius: 2rem;
    /* background-color: #f7d547; */
    /* background-color: #ffffff; */
    /* background: rgb(0, 54, 0); */
    color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.card--background{
    width: 100%;
    height: auto;
    margin-top: -30px;

}
.card--profile{
    width: 6.2rem;
    border-radius: 50%;
    margin-top: -3.9rem;
    border: 5px solid rgb(21, 21, 24);
}
.card__info{
    width: 80%;
    height: auto;
    text-align: center;
    /* background-color: rgb(48, 48, 48); */
    border-radius: 1rem;
    margin: 1rem;
/*     padding: 2rem;
    margin: 1rem; */
}
.card__info h1 {
/*     font-size: 2.5rem; */
    /* padding-bottom: 1rem;
    margin-top: -2rem; */
}
.card__info h3{
    padding-bottom: .5rem;
}
.card__info p {
    /* font-size: 1.2rem; */
    /* padding-bottom: 1rem; */
}
/* social media */
:root {
    --facebook: black;
    --twitter: black;
    --linkedin: black;
    --instagram: black;
}
.social_media {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.social_media a{
    width: 60px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    box-shadow: -5px 5px 10px  rgba(0, 0, 0, 0.5);
    transition: 0.6s all ease-in-out;
}
.social_media a svg{
    width: 30px;
    height: 30px;
}
.social_media a svg path{
    transition: 0.3s all ease-in-out;
}
.social_media a span{
    position: absolute;
    color: #fff;
    transform: translateY(0px);
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: 0.6s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: 0s;
}
.social_media a span::before {
    position: absolute;
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
   /*  bottom: -5px;
    left: 50%; */
    /* transform: translateX(-50%); */
}
.social_media a.facebook span {
    background-color: var(--facebook);
}
.social_media a.facebook span::before {
    border-top-color: var(--facebook);
}

.social_media a.twitter span {
    background-color: var(--twitter);
}

.social_media a.twitter span::before {
    border-top-color: var(--twitter);
}

.social_media a.linkedin span {
    background-color: var(--linkedin);
}

.social_media a.linkedin span::before {
    border-top-color: var(--linkedin);
}

.social_media a.instagram span {
    background-color: var(--instagram);
}

.social_media a.instagram span::before {
    border-top-color: var(--instagram);
}
.social_media a.active,
.social_media a:hover {
    box-shadow: -20px 20px 30px rgba(0, 0, 0, 0.5);
}

.social_media a.facebook:hover {
    background-color: var(--facebook);
}

.social_media a.twitter:hover {
    background-color: var(--twitter);
}

.social_media a.linkedin:hover {
    background-color: var(--linkedin);
}

.social_media a.instagram.active,
.social_media a.instagram:hover {
    background-color: var(--instagram);
}

.social_media a.active span,
.social_media a:hover span {
    transform: translateY(-55px);
    visibility: visible;
    opacity: 1;
    transition-delay: 0.3s;
}

.social_media a.active svg path,
.social_media a.active svg circle,
.social_media a:hover svg path,
.social_media a:hover svg circle {
    fill: #fff;
}

/* ------------- */
.Follow {
    width: 80%;
    height: auto;
    text-align: center;
    background: gray;
    border-radius: 1rem;
    font-size: 2rem;
    padding: .4rem;
    margin-bottom: 2rem;

}
.Follow a {
    text-decoration: none;
    color: aliceblue;
}
@media screen and (max-width: 650px) {
    .CardSpace {
        width: 80%;
    }
    .card__info h1 {
        font-size: 2rem;
    }
    .card--profile{
        width: 7rem;
        margin-top: -4.5rem;
    }
}
