*{
margin: 0;
padding: 0;
}
html{
    background: black;
    /* background-color: #ffff72; */
    /* background-color: #004173; */
    /* background-color: #0cb7f2; */
}
.CardSpace {
    border-radius: 2rem;
    width: 35rem;
    height: auto;
    margin: 3rem auto;
    background-color: rgb(24, 21, 21);
    /* background-color: #f7d547; */
    /* background-color: #ffffff; */
    /* background: rgb(0, 54, 0); */
    color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.card--background{
    width: 100%;
    height: auto;
    margin: auto;
}
.card--profile{
    width: 10rem;
    border-radius: 50%;
    margin-top: -5.5rem;
    border: 5px solid rgb(21, 21, 24);
}
.card__info{
    width: 70%;
    height: auto;
    text-align: center;
    /* background-color: rgb(48, 48, 48); */
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
}
.card__info h1 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
    margin-top: -2rem;
}
.card__info p {
    font-size: 1.2rem;
    /* padding-bottom: 1rem; */
}
.Follow {
    width: 80%;
    height: auto;
    text-align: center;
    background: gray;
    border-radius: 1rem;
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: 2rem;
}
.Follow a {
    text-decoration: none;
    color: aliceblue;
}
@media screen and (max-width: 650px) {
    .CardSpace {
        width: 80%;
    }
    .card__info h1 {
        font-size: 2rem;
    }
    .card--profile{
        width: 7rem;
        margin-top: -4.5rem;
    }
}
